In [1]:
import pandas as pd

In [10]:
coffee = pd.read_csv('F_Marks.csv')

In [11]:
coffee

  Student Name   Subject  Marks
0        Hasan      Data     42
1         Qaim      Urdu     46
2        Qamer   Biology     54
3      Ibrahim  Computer     55

In [4]:
olympicsdata = pd.read_excel('./file_data/olympics_data.xlsx')

In [6]:
olympicsdata.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [13]:
results_parquet = pd.read_parquet('./file_data/results.parquet')

In [21]:
results_parquet.tail()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [46]:
bios = pd.read_csv('./file_data/bios.csv')

In [7]:
bios.sample(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
24281,24470,Luc Mbassi,1957-01-01,Yaoundé,Centre,CMR,Cameroon,NaN,NaN,2016-10-08
113402,114693,Josh McAdams,1980-03-26,Atlanta,Georgia,USA,United States,175.0,69.0,NaN
29644,29869,Charles Ballossier,1878-03-21,Montrouge,Hauts-de-Seine,FRA,France,NaN,NaN,1960-03-21
96888,97667,Miloslav Sochor,1952-01-08,Pec pod Sněžkou,Královéhradecký kraj,CZE,Czechoslovakia,175.0,72.0,NaN
107993,109134,Pan Tzu-Hui,1983-01-08,Nantong,Jiangsu,CHN,Chinese Taipei,157.0,52.0,NaN
47593,47944,Horst Weber,1939-08-20,Bayreuth,Bayern,GER,Germany,NaN,NaN,2002-01-01
36025,36310,Franklin Zielski,1941-03-01,Welland,Ontario,CAN,Canada,185.0,80.0,2021-04-27
22410,22579,Michael O'Brien,1969-12-23,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
80083,80734,Susan Broman,1959-07-28,Helsinki,Uusimaa,FIN,Finland,164.0,55.0,NaN
118434,120149,Azza Alqasmi,1985-02-12,Riffa,Al-Janobiyah,BRN,Bahrain,159.0,73.0,NaN

In [8]:
bios.loc[[5,9],['name','NOC']]

                 name     NOC
5   Nicolas Chatelain  France
9  Guy de la Chapelle  France

In [17]:
bios.iloc[0:5,[1,6]]

                    name     NOC
0  Jean-François Blanchy  France
1         Arnaud Boetsch  France
2           Jean Borotra  France
3        Jacques Brugnon  France
4           Albert Canet  France

In [21]:
bios.loc[0:5,['NOC','born_city']]= ['PK','PK']

In [38]:
xyz = bios[(bios['height_cm']>165) & (bios['born_country'] == 'USA')][['name','born_date','NOC','born_country']]

In [45]:
xyz.to_excel('xyz.xlsx', index=False)

In [59]:
bios[bios['name'].str.contains('Ali', case=False)][['name','NOC']]

                        name            NOC
9                        ali         France
18                       Ali         France
41                       ali  Great Britain
47                       ali  Great Britain
48             Alison Gordon  Great Britain
...                      ...            ...
145201           Alina Meier    Switzerland
145235          Natalie Maag    Switzerland
145335  Vitaliy Kalinichenko        Ukraine
145457        Alix Wilkinson  United States
145465     Stanislav Galiyev            ROC

[2265 rows x 2 columns]

In [65]:
bios[bios['born_date'].str.contains(r'^19', na=False)]

Empty DataFrame
Columns: [athlete_id, name, born_date, born_city, born_region, born_country, NOC, height_cm, weight_kg, died_date]
Index: []

In [70]:
bios.query('name == "ali"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
9,10,ali,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,8/27/1923
41,42,ali,9/2/1961,Baghdad,Baghdad,IRQ,Great Britain,176.0,68.0,NaN
47,48,ali,5/13/1964,Torquay,England,GBR,Great Britain,190.0,85.0,NaN

In [80]:
bios[bios['name'].str.startswith("Ali")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
18,19,Ali,1882-11-15,Vichy,Allier,FRA,France,NaN,NaN,8/6/1958
48,49,Alison Gordon,12/31/1962,Reading,England,GBR,Great Britain,175.0,68.0,NaN
49,50,Alii,4/9/1964,NaN,NaN,NaN,Great Britain,157.0,55.0,NaN
50,51,Alice Greene,1879-10-15,Upton,England,GBR,Great Britain,NaN,NaN,10/26/1956
279,280,Ali Athar Fyzee,1883-08-28,Mumbai,Maharashtra,IND,India,NaN,NaN,11/3/1963
...,...,...,...,...,...,...,...,...,...,...
144705,148405,Alia Eichinger,7/19/2001,Freyung,Bayern,GER,Germany,NaN,NaN,NaN
144943,148651,Alina Stremous,7/11/1995,Kotelnikovo,Volgograd,RUS,Republic of Moldova,NaN,NaN,NaN
145071,148783,Alina Kovalyova,2/18/1993,Slantsy,Leningrad,RUS,ROC,NaN,NaN,NaN
145201,148919,Alina Meier,2/19/1996,Davos,Graubünden,SUI,Switzerland,NaN,NaN,NaN
145457,149183,Alix Wilkinson,8/2/2000,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN

In [81]:
bios[bios['born_city'].isin(['Davos'])]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
37710,38008,Paul Söllner,6/5/1911,Davos,Graubünden,SUI,Germany,NaN,NaN,4/8/1994
49815,50173,Nicolas Gilliard,10/27/1947,Davos,Graubünden,SUI,Switzerland,178.0,66.0,NaN
79856,80507,Martina Accola,3/8/1969,Davos,Graubünden,SUI,Switzerland,170.0,62.0,NaN
80090,80741,Silvia Brunner,1/17/1958,Davos,Graubünden,SUI,Switzerland,168.0,58.0,NaN
82503,83156,Paul Accola,2/20/1967,Davos,Graubünden,SUI,Switzerland,176.0,82.0,NaN
82920,83578,Joos Ambühl,10/23/1959,Davos,Graubünden,SUI,Switzerland,177.0,77.0,NaN
83268,83926,Gian Bazzi,4/3/1931,Davos,Graubünden,SUI,Switzerland,NaN,NaN,1/7/2016
83407,84068,Franz Berry,11/21/1938,Davos,Graubünden,SUI,Switzerland,181.0,78.0,7/6/2009
83717,84381,Mario Brodmann,4/2/1966,Davos,Graubünden,SUI,Switzerland,176.0,80.0,NaN
84694,85370,Hans Dürst,6/28/1921,Davos,Graubünden,SUI,Switzerland,NaN,NaN,6/25/2001
84695,85371,Walter Dürst,6/4/1950,Davos,Graubünden,SUI,Switzerland,178.0,76.0,NaN
84696,85372,Walter Paul Dürst,2/28/1927,Davos,Graubünden,SUI,Switzerland,NaN,NaN,5/2/2016
84975,85653,Aldo Federici,9/6/1920,Davos,Graubünden,SUI,Italy,NaN,NaN,2/7/1988
85157,85836,Peter Frei,8/6/1946,Davos,Graubünden,SUI,Switzerland,181.0,80.0,NaN
85273,85953,Arnold Gartmann,10/18/1941,Davos,Graubünden,SUI,Switzerland,NaN,NaN,NaN
86064,86750,Max Holsboer,1883-07-29,Davos,Graubünden,SUI,Switzerland,NaN,NaN,1/12/1958
86593,87285,Beat Häsler,7/17/1936,Davos,Graubünden,SUI,Switzerland,169.0,60.0,NaN
86830,87524,Oskar Jenni,6/17/1939,Davos,Graubünden,SUI,Switzerland,179.0,74.0,7/5/2020
87171,87867,Walter Keller,10/26/1933,Davos,Graubünden,SUI,Switzerland,NaN,NaN,12/16/2015
87970,88673,Fritz Kraatz,2/4/1906,Davos,Graubünden,SUI,Switzerland,NaN,NaN,1/15/1992
88053,88757,Albert Künzler,2/9/1911,Davos,Graubünden,SUI,Switzerland,NaN,NaN,1/1/1982
92216,92953,Anja Käser,11/4/1979,Davos,Graubünden,SUI,Switzerland,172.0,60.0,NaN
94612,95379,Heini Meng,11/20/1902,Davos,Graubünden,SUI,Switzerland,NaN,NaN,8/13/1982
94818,95585,Toni Morosani,6/20/1907,Davos,Graubünden,SUI,Switzerland,NaN,NaN,6/8/1993
94905,95672,Max Müller,6/27/1916,Davos,Graubünden,SUI,Switzerland,NaN,NaN,11/22/2019
94907,95674,Paul Müller,1896-02-20,Davos,Graubünden,SUI,Switzerland,NaN,NaN,1/1/1974
94946,95713,Fritz Naef,6/5/1934,Davos,Graubünden,SUI,Switzerland,NaN,NaN,7/27/2014
95555,96326,Reto Perl,11/23/1923,Davos,Graubünden,SUI,Switzerland,NaN,NaN,2/27/1987
95963,96737,Otto Rauth,2/22/1914,Davos,Graubünden,SUI,Italy,NaN,NaN,9/9/1978
96144,96919,Sepp Rogger,8/19/1915,Davos,Graubünden,SUI,Switzerland,NaN,NaN,10/6/2011
96147,96922,Jürg Rohrbach,7/16/1931,Davos,Graubünden,SUI,Switzerland,NaN,NaN,NaN
96957,97737,Andreas Sprecher,11/8/1944,Davos,Graubünden,SUI,Switzerland,167.0,74.0,NaN
99246,100044,Andrea Senteler,4/28/1977,Davos,Graubünden,SUI,Switzerland,163.0,54.0,NaN
100199,101048,Ambrosi Hoffmann,3/22/1977,Davos,Graubünden,SUI,Switzerland,180.0,91.0,NaN
100635,101486,Daniela Meuli,11/6/1981,Davos,Graubünden,SUI,Switzerland,183.0,74.0,NaN
100643,101494,Milena Meisser,4/2/1979,Davos,Graubünden,SUI,Switzerland,169.0,57.0,NaN
109864,111069,Andres Ambühl,9/14/1983,Davos,Graubünden,SUI,Switzerland,176.0,82.0,NaN
117371,118859,Valerio Leccardi,5/28/1984,Davos,Graubünden,SUI,Switzerland,174.0,71.0,NaN
117454,118950,Beni Hofer,5/3/1978,Davos,Graubünden,SUI,Switzerland,176.0,83.0,NaN
118013,119565,Christian Haller,10/28/1989,Davos,Graubünden,SUI,Switzerland,175.0,72.0,NaN
118079,119639,Ursina Haller,12/29/1985,Davos,Graubünden,SUI,Switzerland,172.0,62.0,NaN
126185,128535,Stefanie Müller,6/5/1992,Davos,Graubünden,SUI,Switzerland,158.0,56.0,NaN
134902,138014,Jasmine Flury,9/16/1993,Davos,Graubünden,SUI,Switzerland,165.0,65.0,NaN
145201,148919,Alina Meier,2/19/1996,Davos,Graubünden,SUI,Switzerland,NaN,NaN,NaN